<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Necklase"
        android:usesCleartextTraffic="true"
        tools:targetApi="31"
        >
        <activity
            android:name=".SelectDog_holder_desing"
            android:exported="false" />
        <activity
            android:name=".View.SelectDog"
            android:exported="false" />
        <activity
            android:name=".View.Login_or_sign"
            android:exported="false" />
        <activity
            android:name=".View.DispositivoRecyclerHolder"
            android:exported="false" />
        <activity
            android:name=".dispositivo_seleccion"
            android:exported="false" />
        <activity
            android:name=".View.historyRecyclerHolderDesing"
            android:exported="false" />
        <activity
            android:name=".historyRecyclerHolder"
            android:exported="false"
            android:label="@string/title_activity_history_recycler_holder"
            android:theme="@style/Theme.Necklase" />
        <activity
            android:name=".View.navbar"
            android:exported="false" />
        <activity
            android:name=".Collar_managment"
            android:exported="false" />
        <activity
            android:name=".Menu_Personal"
            android:exported="false" />
        <activity
            android:name=".View.Main_acept_permisos"
            android:exported="false" />
        <activity
            android:name=".View.register_view"
            android:exported="false" />
        <activity
            android:name=".View.login_view"
            android:exported="false" />
        <activity
            android:name=".View.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>