<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_foreground"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Necklase"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".View.activity_PetWeight"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".View.activity_register_pet"
            android:exported="false" />
        <activity
            android:name=".View.MainActivity"
            android:exported="false" />
        <activity
            android:name=".View.activity_bienvenida"
            android:exported="false" />
        <activity
            android:name=".View.activity_sincr_disp"
            android:exported="false" />
        <activity
            android:name=".View.activity_anadir_dispositivo"
            android:exported="false" />
        <activity
            android:name=".SelectDog_holder_desing"
            android:exported="false" />
        <activity
            android:name=".View.SelectDog"
            android:exported="false" />
        <activity
            android:name=".View.Login_or_sign"
            android:exported="false" />
        <activity
            android:name=".View.DispositivoRecyclerHolder"
            android:exported="false" />
        <activity
            android:name=".dispositivo_seleccion"
            android:exported="false" />
        <activity
            android:name=".View.historyRecyclerHolderDesing"
            android:exported="false" />
        <activity
            android:name=".historyRecyclerHolder"
            android:exported="false"
            android:label="@string/title_activity_history_recycler_holder"
            android:theme="@style/Theme.Necklase" />
        <activity
            android:name=".View.navbar"
            android:exported="false" />
        <activity
            android:name=".Collar_managment"
            android:exported="false" />
        <activity
            android:name=".Menu_Personal"
            android:exported="false" />
        <activity
            android:name=".View.Main_acept_permisos"
            android:exported="false" />
        <activity
            android:name=".View.register_view"
            android:exported="false" />
        <activity
            android:name=".View.login_view"
            android:exported="false" />
        <activity
            android:name=".View.AnimationSplash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>